*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mosk';
}
html, body{
    height: 100%;
}
@font-face{
    font-family: "Mosk";
    src: url('../font/Mosk\ Light\ 300.ttf');
}
@font-face{
    font-family: "Fasthand";
    src: url('../font/Fasthand-Regular.ttf');
}
@font-face{
    font-family: "Londrina Shadow";
    src: url('../font/LondrinaShadow-Regular.ttf');
}
.center{
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0 2%;
}
header{
    width: 100%;
    padding: 20px 2%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}
header.rolagem{
    transition: 1s;
    background-color: white;
}
header.rolagem a,
header.rolagem .logo a{
    color: #043c4b;
    transition: 1s;
}
header .logo a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(253, 253, 253);
    transition: .5s;
}
header .logo a:hover{
    color: #043c4b;
    text-decoration: underline;
}
header .desktop ul li a{
    color:#043c4b;
    text-decoration: none;
    font-size: 23px;
    transition: 1s;
}
header ul li a:hover{
    text-decoration: underline;
}
header ul li{
    padding: 0 20px;
    display: inline-block;
}
/*menu MOBILE*/
header .mobile{
    width: 80%;
    opacity: 0;
    transition: .7s;
    height: 85vh;
    background-color: #043c4b;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}
header .menu{
    font-size: 35px;
    cursor: pointer;
    display: none;
    position: relative;
}
.menu img{
    width: 30px;
}
header .show{
    opacity: 1;
}
header .mobile a{
    text-decoration: none;
    color: #dcb187;
    text-align: center;
}
header .mobile li{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    margin-bottom: 30px;
    font-size: 25px;
    border-bottom: 1px solid #dcb187;
}
header .links-menu{
    display: flex;
    gap: 35px;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
header .mobile .links-menu > a i{
    font-size: 30px;
}
header .mobile .links-menu a:hover i{
    color: #49636b;
}
/*menu MOBILE terminou*/

/* aqui começa a section MAIN */

section.main{
    text-align: center;
    padding: 20px 2%;
    background-color: #dcb187;
    width: 100%;
    border-radius: 15px;
}
.main-img{
    width: 100%;
    text-align: center;
    padding-top: 80px;
    position: relative;
    top: 0px;
    left: 0;
}
.main-img img{
    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: 3px solid #043c4b;
    transform: translateX(0px);
    animation: seMexer 6s ease-out infinite;
}

@keyframes seMexer{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

section.main .texto{
    padding-top: 15px;
    padding-bottom: 20px;
    color: #043c4b;
    font-size: 28px;
}
section.main .texto h1, .texto h1 > span{
    font-family: "Fasthand";
}
section.main .texto span{
    color: antiquewhite;
}
section.main .texto h2{
    font-family: 'Inconsolata', cursive;
}

/*aqui começa a section projetos*/

.projetos{
    background-color: #043c4b;
    text-align: center;
    padding: 50px 2%;
    min-height: 460px;
    position: relative;
    border-radius: 15px;
}
.projetos .conteudo-projetos > h1{
    font-size: 38px;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}
.borda{
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 30px;
    background-color: #dcb187;
    transition: 1s;
}
h1:hover .borda{
    width: 125px;
}
.container-projeto{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}
.box-projeto{
    min-height: 250px;
    min-width: 250px;
    max-width: 270px;
    background-color: white;
    margin-top: 30px;
    margin-left: 15px;
    border: 3px solid #dcb187;
    border-radius: 20px;
    box-shadow: 5px 3px #dcb187;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.box-projeto .projeto1-conteudo h1,
.box-projeto .projeto2-conteudo h1{
    color: #dcb187;
    font-size: 30px;
    padding: 10px 0;
    cursor: pointer;
}
.box-projeto .projeto1-conteudo h2,
.box-projeto .projeto2-conteudo h2{
    color: #043c4b;
    font-size: 27px;
    cursor: pointer;
    padding: 10px;
    background-color: #dcb187;
    border-radius: 20px;
}
.box-projeto .projeto1-conteudo .link,
.box-projeto .projeto2-conteudo .link{
    text-decoration: underline;
    background-color: #043c4b;
    color: #ffff;
}
.box-projeto .projeto1-conteudo2,
.box-projeto .projeto2-conteudo2{
    display: none;
}
.projeto1, .projeto2{
    background-color: #043c4b;
}
.projeto1-conteudo2 h1,
.projeto2-conteudo2 h1{
    padding: 0 10px;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    padding: 7px;
    text-decoration: underline;
}
.projeto1:hover .projeto1-conteudo,
.projeto2:hover .projeto2-conteudo{
    display: none;
}
.projeto1:hover .projeto1-conteudo2,
.projeto2:hover .projeto2-conteudo2{
    display: block;
}
.box-projeto > h1{
    color: #043c4b;
    font-size: 30px;
    rotate: -45deg;
    margin-bottom: 20px;
    border-bottom: 4px solid #dcb187;
    cursor: pointer;
    animation: Girar 2s ease-out infinite;
}
@keyframes Girar{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}
.box-projeto:hover{
    background-color: #205768;
    border: 3px solid #ffffff;
    box-shadow: 5px 3px #ffffff;
}
.box-projeto:hover h1{
    color: white;
}
 /* aqui começa testes */
  /* deu tudo certo! */

.box-cobrir-projeto1,
.box-cobrir-projeto2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}
.box-cobrir-projeto1 .cobrir-projeto1,
.box-cobrir-projeto2 .cobrir-projeto2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #043c4b;
    min-width: 35%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: space-evenly;
    border-radius: 25px;
    border: 5px solid #dcb187;
    z-index: 5;
}
.cobrir-projeto1 img, .sobre-blur-projeto1 img,
.cobrir-projeto2 img, .sobre-blur-projeto2 img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 50%;
    cursor: pointer;
}
.t h1{
    padding: 10px;
    color: #043c4b;
    background-color: #dcb187;
    border-radius: 20px;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
}
.t i{
    width: 30px;
    position: relative;
    height: 30px;
}
.sobre-blur-projeto1,
.sobre-blur-projeto2{
    width: 30%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #043c4b;
    border-radius: 25px;
    border: 5px solid #dcb187;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.sobre-blur-projeto1 h1,
.sobre-blur-projeto2 h1{
    color: #043c4b;
    padding: 10px;
    border-radius: 20px;
    background-color: #dcb187;
}

/* aqui começa a section sobre! */

section.sobre{
    padding: 30px 2%;
    background-color: #dcb187;
    border-radius: 15px;
}
.conteudo-sobre h1{
    font-family: "Londrina Shadow";
    font-size: 70px;
    text-align: center;
    color: #043c4b;
}
.box-sobre-single{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.box-sobre p{
    font-size: 20px;
    color: #ffffff;
}
.box-sobre{
    min-width: 400px;
    max-width: 420px;
    min-height: 240px;
    padding: 10px 13px;
    border: 2px solid #ffffff;
    background-color: #043c4b;
    border-radius: 20px;
    margin: 10px 10px;
    text-align: justify;
}
[one]{ 
    box-shadow: -6px 4px #ffffff;
}
[two]{
    box-shadow: 6px 4px #ffffff;
}

/* aqui começa a section contato */

section.contato{
    /*background-color: #1a3096;*/
    background-color: #043c4b;
    padding: 30px 2%;
    padding-bottom: 40px;
    border-radius: 15px;
}
.contato > .center{
    color: white;
    font-size: 25px;
    position: relative;
    top: 0;
    left: 0;
}
.contato > .center h1{
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: -7px;
}
.contato > .center img{
    display: inline-block;
    position: relative;
    top: -7px;
    animation: seMexer2 2s ease-out infinite;
}
@keyframes seMexer2{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

section.contato .box-contato{
    padding: 20px;
    padding-bottom: 18px;
    color: #043c4b;
    font-size: 18px;
    text-align: center;
    max-width: 890px;
    border: 4px solid #dcb187;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: -100;
    left: 0;
}
.contato .box-contato i{
    padding: 10px;
    padding-left: 0;
    padding-top: 20px;
    font-size: 30px;
    color: #043c4b;
}
.contato .box-contato i:hover{
    color: #49636b;
}
.box-contato span{
    font-size: 20px;
    position: relative;
    top: -2px;
    left: 0;
}
.box-contato span:hover{
    text-decoration: underline;
}
.box-contato a{
    margin: 0 15px;
    text-decoration: none;
    color: #043c4b;
    white-space: pre;
}
.contato .footer{
    padding-top: 30px;
    font-size: 17px;
    font-family: verdana;
    text-align: center;
}
/* Aqui começa parte do rodapé! */
footer{
    width: 100%;
    text-align: center;
    padding: 10px 2%;
}
footer span{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #043c4b;
    font-size: 20px;
}
footer span a{
    color: #043c4b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    white-space: pre;
}
footer span:hover a{
    color: #10738f;
}
@media screen and (max-width: 768px){
    header .desktop ul li{
        display: none;
    }
    header .menu{
        display: block;
    }
    header .logo a:hover{
        text-decoration: none;
    }
    header ul li a:hover{
        text-decoration: none;
    }
    section.main .texto{
        font-size: 20px;
    }
    .main-img img{
        width: 250px;
        height: 250px;
    }
    .container-projeto{
        flex-wrap: wrap;
    }
    h1:hover .borda{
        width: 135px;
    }
    .box-projeto{
        margin: 20px 10px;
    }
    section.contato > .center h1, 
    section.contato > .center img{
        top: -20px;
    }
    .box-sobre-single{
        flex-wrap: wrap;
    }
    .box-sobre{
        max-width: 90%;
    }
    .footer {
        font-size: 15px;
    }
    .footer h1{
        padding: 20px 0;
    }
    .box-cobrir-projeto1 .cobrir-projeto1{
        min-width: 90%;
        min-height: 20%;
        padding: 10px;
        justify-content: space-evenly;
        top: 20%;
    }
    .box-cobrir-projeto2 .cobrir-projeto2{
        min-width: 90%;
        min-height: 20%;
        padding: 10px;
        justify-content: space-evenly;
        top: 41.5%;
    }
    .sobre-blur-projeto1{
        min-width: 75%;
        min-height: 20%;
        top: 20%;
    }
    .sobre-blur-projeto2{
        min-width: 75%;
        min-height: 20%;
        top: 41.5%;
    }
    footer span,
    footer a{
        font-size: 17px;
    }
}
@media screen and (max-width: 570px){
    section.main .texto{
        font-size: 20px;
    }
    .main-img img{
        width: 250px;
        height: 250px;
        animation: seMexer 4s ease-out infinite;
    }
    @keyframes seMexer{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .contato .footer a{
        position: relative;
        top: 15px;
    }
    .cobrir-projeto1,
    .cobrir-projeto2{
        min-width: 90%;
        min-height: 20%;
        padding: 10px;
        justify-content: space-evenly;
        top: 10%;
    }
}